/*todos*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*corpo*/
body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f4f4f4;
}

/*cabeçalho*/
header {
    background-color: white;
    color: black;
    text-align: center;
}

.logo-titulo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}

/*esquerda*/
.logo {
    width: 200px;
}

/*centro (título)*/
.logo-titulo h1 {
    flex: 1;
    text-align: center;
    font-size: 32px;
}

/*direita (espaço vazio)*/
.espaco {
    width: 200px; /* mesmo tamanho da logo */
}

nav ul {
    background-color: #2f9e41;
    padding: 10px 0;
}

nav ul li {
    display: inline;
    text-decoration: none;
    margin: 0 15px;
    align-items: center;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: 600;
}

main {
    padding: 20px;
}

/*página de cursos*/
table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

table, th, td {
  border: 1px solid #ddd;
}

th, td {
  padding: 10px;
  text-align: left;
}

th {
  background-color: #f2f2f2;
}

button {
  padding: 10px 20px;
  background-color: #2f9e41;
  color: white;
  border: none;
  font-weight: 600;
}

button:hover {
  background-color: #2f9e41e8;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
  background-color: white;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  max-width: 500px;
}

.modal form{
  display: flex;
  flex-direction: column;
}

.modal button {
  margin-top: 10px;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

.close:hover {
  color: black;
}

.modal-content h2 {
  margin-bottom: 10px;
}

.modal input {
  margin-bottom: 10px;
  padding: 5px;
}
